.customer{
    text-align: center;
    padding:5rem 1rem;
    background:url(../img/email-bg.png) no-repeat;
    background-size: cover;
    background-position: center;

    h3{
        color:#fff;
        font-size: 3rem;
    }

    p{
        color:#fff;
        font-size: 1.6rem;
        margin:2rem auto;
        width:70rem;
    }

    form{
        display: flex;
        max-width: 70rem;
        border:.2rem solid #fff;
        padding:.5rem;
        border-radius: 5rem;
        margin:2rem auto;
        height:5.5rem;
    }

    form input[type="email"]{
        padding:0 2rem;
        font-size: 1.7rem;
        background:none;
        width:100%;
        color:#fff;
        text-transform: none;
        background:none;
    }

    form input[type="email"]::placeholder{
        color:#eee;
        text-transform: capitalize;
    }

    form input[type="submit"]{
        background:#fff;
        width:20rem;
        font-size: 1.7rem;
        border-radius: 5rem;
        cursor: pointer;
    }

    form input[type="submit"]:hover{
        color:$pink;
    }


}


.review .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    .box{
        background:#fff;
        margin:1rem;
        padding:1rem;
        text-align: center;
        position: relative;
        border:.1rem solid rgba(0,0,0,.2);
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
        flex:1 1 30rem;
        border-radius: .5rem;

        .fa-quote-right{
            position: absolute;
            top:1rem; right:2rem;
            font-size: 8rem;
            color:$pink;
            opacity: .3;
        }

        .user img{
            border-radius: 50%;
            object-fit: cover;
            height: 10rem;
            width:10rem;
            margin-top: 2rem;
        }

        .user h3{
            color:$green;
            font-size: 2rem;
        }

        .user .stars i{
            color:$purple;
            font-size: 1.5rem;
            padding:1rem 0;
        }

        .comment{
            color:#666;
            font-size: 1.4rem;
            padding:1rem;
        }
    }
}

